


body{
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    background-color:RGB(23, 23, 21);
    
    
    
  
  
  
  }

  h1{

    color:white;
    font-family: 'Rubik Dirt', cursive;
  }
h5{
  color: bisque;
  
}
 




  hr{
    border: dotted #EAF6F6 6px;
    width: 5%;
    border-bottom: none;
    margin-top: 20px;
    
  }
.Firstcontain{
  

    margin-left: 370px;
    width: 50%;
    
    text-align: center;

    font-size: 2rem;

    height: 350px;

    
    
}

.head1{
    text-align: center;

    margin-right: 100px;

    margin-left: 700px;
    font-size: 1.5rem;
    
    padding: 50px;

    
}
.home{

   

    float: right;

    width: 30%;
   

    

}
.about{float: right;


    width: 30%;
  

    


}

.headder{

    height: 600px;

    background-image:url(backg.jpg);

}

.Middlecontainer{

 

margin-top: 100px;

margin-left: 500px;

    
float: left;
    
width: 20%;
height: 250px;

    
    
}
.profile{

    

    width: 100%;
    border-radius: 100%;

    

    

    
}

.mydetail{

  margin-top: 50px;

  


    height: 100px;
    font-size: 1rem;

  

    margin-top: 350px;
}

.mm{

  border-top: 20px;
}

.degree{
    
    margin-left: 400px;

    width: 40%;
    height: 100px;
}

.skillh{
    text-align: center;
}


.skill1{

    margin-top: 80px;

    margin-left: 300px;

    width: 60%;
    font-size: 1.3rem;

    height: 800px;
}

.hvac{
    width: 60%;
    float: left;
    font-size: 1.2rem;

}
.img1{
    border-radius: 100%;
    width: 25% ;
    float: right;

}
.sweeth{

    

    margin-left: 120px;

    margin-top: 125px;
    width: 50%;
    float: right;
    font-size: 1.2rem;

}
.img2{
    border-radius: 100%;
    width: 25% ;
    float:left;

}

.build{
    margin-top:150px;

    margin-right: 50px;

    width: 50%;
    float: left;
    font-size: 1.2rem;

}
.img3{
    border-radius: 100%;
    width: 25% ;
    float: right;

}



.btn {
    background: #11CCD4;
    background-image: -webkit-linear-gradient(top, #11CCD4, #11999A);
    background-image: -moz-linear-gradient(top, #11CCD4, #11999A);
    background-image: -ms-linear-gradient(top, #11CCD4, #11999A);
    background-image: -o-linear-gradient(top, #11CCD4, #11999A);
    background-image: linear-gradient(to bottom, #11CCD4, #11999A);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2b4ad);
    text-decoration: none;
  }



.copyright{

    
    padding: 10px;
    color: #EAF6F6;
    font-size: 0.75rem;
    
  }

  .bottom-container{
    padding: 50px;
    background-color:rgb(140, 129, 129);;
  
    margin: 100px 0;
  
  }


.conactmsg{
    width: 40%;
    margin: 40px auto 60px ;
  
  }


  a.hover{
    color: #EAF6F6;
  }


h2{
    color: #66BFBF;
  
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
  
  }



  .bike{

   margin-top: 0px;
    padding: 10px;
    border-radius: 100%;
    float: left;
    width: 25%
  
  }
  .photog{

    margin-top: 0px;
    padding: 10px;
    border-radius: 100%;
    float: right;
    width: 25%
  
  }


  .middle-container2{
    margin-top: 80px;

    margin-left: 200px;

    width: 70%;

    height: 1350px;
  }


  .skill-row1{

    height: 250px;

    width: 90%;
    margin: 0px auto 0px auto;
    text-align: left;
    line-height: 2;
  
  }



.p1{

  
  width: 60%;
  
  
  margin-left: 100px;
    font-size: 1.3rem;
}


.home{
  text-decoration: none;

  color:white;
}


.name{

  margin-top: 0PX;;
}


.remain{

  height: 5000px;
}